/* Ali Redha - 20195330 - ITCS330 - Lab 1  */



.uob {
  background-image: url("uob/uob.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 480px 370px;
  background-size: 10%;
}



h4 {
  /* underline  */
  text-decoration: underline;
  color: yellow;
}

ul {
  list-style-type: square;
}

li.camp {
  text-decoration: line-through;
  list-style-type: upper-alpha;
  list-style-position: inside;
}

a:visited {
  color: green;
}

a:link{
  color: yellow;
}

li.myType {
  font-family: "Courier New";
  font-size: 14px;
  color: red;
}

#Frame {
  border: 1px solid black;
}

.description {

 color: #7072AB;
 text-align: left;

} 

strong {
  color: #877A6F;
}

td {
 text-align:left;
}   
.Table-image{

   width: 6.25rem ;
  height: 5.375rem;

}



.req:after {
  content:" *";
  color: red;
}
 

 table.form-table   {

margin-left : auto; 
margin-right : auto;


}

